@use "../utils" as *;
@use "../global" as *;

.headerSection {
  display: flex;
  flex-direction: column;
}

.topWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin: 20px auto;
  width: 1320px;
  max-width: 85%;

  @include tn {
    column-gap: 8px;
  }
}

.logoContainer {
  display: flex;
  gap: 0 8px;
  width: 208px;
  min-width: 0;
}

.logoAccent {
  width: 48px;
  min-height: 48px;
  background-color: rgb(228 231 233);
  border-radius: 24px;
}

.brandName {
  margin: 4px 0;
  font: 700 32px/1.25 "Public Sans", Helvetica, Arial, serif;
  color: rgb(0 0 0);
  letter-spacing: -0.64px;

  @include md {
    align-items: flex-start;
    font-size: 30px;
  }

  @include xxs {
    font-size: 26px;
  }
}

.searchBox {
  display: flex;
  flex-direction: column;
  width: 646px;
  min-width: 0;
  background-color: rgb(255 255 255);
  border-radius: 10px;
  outline: 2px solid rgb(252 224 0);
  outline-offset: -2px;
  box-shadow: 0 8px 32px 0 rgb(0 0 0 / 8%);

  @include lg {
    display: none !important;
  }
}

.searchInputWrapper {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 14px 20px;
}

.searchPlaceholder {
  font: 400 14px/1.42 "Public Sans", Helvetica, Arial, serif;
  color: rgb(119 135 143);
}

.searchIcon {
  width: 20px;
  object-fit: cover;
}

.unnamed {
  display: flex;
  gap: 0 24px;
  width: 144px;
  min-width: 0;

  @include xs {
    column-gap: 16px;
  }

  @include tn {
    display: none !important;
    column-gap: 8px;
  }
}

.wrapper1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 32px;
  min-width: 0;
}

.unnamed1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 4px 4px 10px 1px;
}

.image3 {
  position: relative;
  width: 27px;
  object-fit: cover;
}

.image2 {
  position: absolute;
  right: 2.9861655235290527px;
  bottom: -6.9965291023254395px;
  width: 3.99px;
}

.image21 {
  position: absolute;
  bottom: -6.9965291023254395px;
  left: 6.9964599609375px;
  width: 3.99px;
}

.block {
  position: absolute;
  top: -3.9930553436279297px;
  right: -3.9930953979492188px;
  display: flex;
  flex-direction: column;
  width: 20px;
  background-color: rgb(255 255 255);
  border-radius: 10px;
  outline: 1.5px solid rgb(0 0 0);
}

.info {
  display: flex;
  justify-content: center;
  margin: 2px 5.5px;
  width: 8.993056297302246px;
  max-width: 85%;
  height: 16px;
  font: 600 12px/1.33 "Public Sans", Helvetica, Arial, serif;
  color: rgb(0 0 0);
  text-align: center;
}

.image4 {
  width: 32px;
  object-fit: cover;
}

.image41 {
  width: 32px;
  object-fit: cover;
}
