@use "../utils" as *;
@use "../global" as *;

.inactivePage {
  display: flex;
  flex-direction: column;
  width: 40px;
  min-width: 0;
  border-radius: 20px;
  outline: 1px solid rgb(228 231 233);
  outline-offset: -1px;
}

.text72 {
  display: flex;
  justify-content: center;
  margin: 10px;
  font: 400 14px/1.42 "Public Sans", Helvetica, Arial, serif;
  color: rgb(25 28 31);
  text-align: center;

  @include tn {
    margin: 10px 8px;
  }
}

.activePage {
  display: flex;
  flex-direction: column;
  width: 40px;
  min-width: 0;
  background-color: rgb(252 224 0);
  border-radius: 20px;
}

.text81 {
  display: flex;
  justify-content: center;
  margin: 10px;
  font: 600 14px/1.42 "Public Sans", Helvetica, Arial, serif;
  color: rgb(0 0 0);
  text-align: center;

  @include tn {
    margin: 10px 8px;
  }
}