@use "../utils" as *;
@use "../global" as *;

.image-slider {
  gap: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-image{
  padding: 24px;
  width: 616px;
  height: 616px;
  border-radius: 4px;
  outline: 1px solid rgb(228 231 233);
  outline-offset: -1px;
  object-fit: cover;
  align-content: center;
}

.thumbnails {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.image21 {
  width: 96px;
  min-width: 0;
  border-radius: 2px;
  outline: 2px solid rgb(252 224 0);
  outline-offset: -2px;
  object-fit: cover;

  @include xxs {
    width: 100%;
    min-width: unset;
    max-width: 96px;
  }
}

.thumbnail {
  padding: 5px;
  width: 96px;
  min-width: 0;
  border-radius: 2px;
  outline-offset: -1px;
  object-fit: cover;
  align-content: center;

  @include xxs {
    width: 100%;
    min-width: unset;
    max-width: 96px;
  }
}
.thumbnail.inactive {
  outline: 1px solid rgb(228 231 233);
}

.thumbnail.active {
  outline: 2px solid rgb(252 224 0);
}