@use "../utils" as *;
@use "../global" as *;

.contentWrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color);
  outline: 1px solid rgb(228 231 233);
  outline-offset: -0.5px;
}

.mediaContainer {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  margin: 16px;
}

.featureImg {
  width: 100%;
}

.description {
  font: 400 14px/1.42 "Public Sans", Helvetica, Arial, serif;
  color: rgb(25 28 31);
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 44px;
}

.caption {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 20px;
  font: 600 14px/1.42 "Public Sans", Helvetica, Arial, serif;
  color: rgb(0 105 51);
  text-align: center;
}
